<%- contentFor('content') %>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
        <img class="img-responsive" style="width:80px;height:80px;" src="/image/logo.png"/>
        </div>
        <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li class="active"><a href="/about">About Me</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/contact">Contact</a></li>
        </ul>
    </div>
</nav>    
<h3>About Me</h3>
<img class="img-circle" src="/image/pic.png"/>
<h4><b>Name: Sapna</b></h4>
<h4>Hello, I am Sapna. My objective is to become a software engineer.I completed my graduation from IEC university Himachal Pradesh.After completing the study my goal is to do a job in this field with handsome salary.Apart from that,i am intersted in dacncing,music and reading different types of books to enhance my knowledge about things like fashion, cooking, develope personality and many more.I have two siblings.My father is teacher and mother is housewife.My sister is doing job in IT sector.</h4>
<h4><a href="/resume/portfolio.pdf" target="_blank">My Resume</a></h4>
