<%- contentFor('content') %>
<nav class="navbar navbar-default">
<div class="container-fluid">
    <div class="navbar-header">
    <img class="img-responsive" style="width:80px;height:80px;" src="/image/logo.png"/>
    </div>
    <ul class="nav navbar-nav">
    <li class="active"><a href="/">Home</a></li>
    <li><a href="/about">About Me</a></li>
    <li><a href="/projects">Projects</a></li>
    <li><a href="/services">Services</a></li>
    <li><a href="/contact">Contact</a></li>
    </ul>
</div>
</nav>
<h3>Home</h3>
<h4><a href="/about"/>About Me</a><h4>
<h4>Hello, and welcome to my portfolio.You can check my whole information on other pages. My mission is to complete the assignment on time as well as it should be correct and clear.</h4>