<%- contentFor('content') %>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
        <img class="img-responsive" style="width:80px;height:80px;" src="/image/logo.png"/>
        </div>
        <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About Me</a></li>
        <li class="active"><a href="/projects">Projects</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/contact">Contact</a></li>
        </ul>
    </div>
</nav>    
<h3>Projects</h3>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Project Name</th>
        <th scope="col">Project Image</th>
        <th scope="col">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Home Automation System</td>
        <td><img style="width:300px; height:200px;" src="/image/project1.jpg"></td>
        <td>Home Automation System makes use of latest advancements in technology to automate the in-house operations and also eliminates inefficiencies in different aspects.</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Happy Kids Art Program</td>
        <td><img style="width:300px; height:200px;" src="/image/project2.jpg"></td>
        <td>Happy Kids Arts programs allow your kids to enroll in different courses offered by our institution.</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Social Analysis</td>
        <td><img style="width:300px; height:200px;" src="/image/project3.jpg"></td>
        <td>Analysis allows you to get feedback of your services from users in different means of communication like emails, dgitial forms and social campaigns.</td>
      </tr>
    </tbody>
  </table>
