<%- contentFor('content') %>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
        <img class="img-responsive" style="width:80px;height:80px;" src="/image/logo.png"/>
        </div>
        <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About Me</a></li>
        <li><a href="/projects">Projects</a></li>
        <li class="active"><a href="/services">Services</a></li>
        <li><a href="/contact">Contact</a></li>
        </ul>
    </div>
</nav>    
<h3>Services</h3>
<table class="table">
   <thead>
     <tr>
       <th scope="col">#</th>
       <th scope="col">services Name</th>
       <th scope="col">services Image</th>
       <th scope="col">Description</th>
     </tr>
   </thead>
   <tbody>
     <tr>
       <th scope="row">1</th>
       <td>programing language</td>
       <td><img style="width:300px; height:200px;" src="/image/service 1.jpg"></td>
       <td>feature of programing C language which is best and fast.
     </tr>
     <tr>
       <th scope="row">2</th>
       <td>mobile app</td>
       <td><img style="width:300px; height:200px;" src="/image/service2.jpeg"></td>
       <td>In mobile people can use various apps as per their use and choice.</td>
     </tr>
     <tr>
       <th scope="row">3</th>
       <td>Web development language</td>
       <td><img style="width:300px; height:200px;" src="/image/service 3.png"></td>
       <td>In developing language individuals can use several language like java, c++, phython, SQL, PHP and many more
     </tr>
   </tbody>
 </table>